In [12]:
score = int(input("Enter your score : "))
passing = 40
distinction = 90

Enter your score : 25

In [10]:
if score >= distinction:
    print("You're at the top! you've earned a distinction!")
if score >= passing and score < distinction:
    print("You've passed!")
if score < passing:
    print("Sorry! You've failed")

You're at the top! you've earned a distinction!

In [13]:
if score == 100:
    print("perfect")
elif 90 <= score < 100:
    print("distinction")
elif 65 <= score < 90:
    print("First Class!")
elif 40 <= score < 65:
    print("Second Class!")
else:
    print("Failed!")

Failed!

In [33]:
name = "bab"
name  = name.upper()
print(name)
if 'A'  in name:
    print("Name has a vowel")
elif 'E'  in name:
    print("Name has a vowel")
elif 'I'  in name:
    print("Name has a vowel")
elif 'O'  in name:
    print("Name has a vowel")
elif 'U'  in name:
    print("Name has a vowel")
else:
    print("Name doesn't have vowel")

BAB
Name has a vowel

In [36]:
input_str = "beta"
input_str  = input_str.upper()
if 'A'  in input_str:
    print("YES")
elif 'E'  in input_str:
    print("YES")
elif 'I'  in input_str:
    print("YES")
elif 'O'  in input_str:
    print("YES")
elif 'U'  in input_str:
    print("YES")
else:
    print("NO")

YES

Loos

In [39]:
for i in range(1,5):
    print(i)

1
2
3
4

In [42]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [1]:
#Looping on a string
my_string = "Mary had a little lamb"
for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [71]:
#pattern to print
str1=''
for i in range(0,10):
    if i < 5:
        str1 += '*'
        print(str1)
    elif i > 5:
        str1 = str1[:-1]
        print(str1)

*
**
***
****
*****
****
***
**
*

In [70]:
list1 = [1,2,3,4,5,6,7,8,9]
print(list1[3:-2])

[4, 5, 6, 7]

In [81]:
my_string2 = "Mary had a little lamb"
#list1 = list(enumerate(my_string2))
#print(list1)
#for n,alphabet in enumerate(my_string2,1):
for n,alphabet in enumerate(my_string2):
    print(alphabet,n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [86]:
#sentence check
tweet = "#beautiful #morning it is looking good"

for i in tweet.split(" "):
    if i.startswith("#"):
        print(i[1:])

beautiful
morning

In [92]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 
                 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

#no of students whose age < 25
count = 0
for i, j in students_data.items():
    if j[1] < 25:
        count += 1
print(count)

2

In [96]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i,j in d.items():
    print(i,j)

0 Fish
1 Bird
2 Mammal

In [104]:
d={ 0,1,2 }
d.add(0)
print(d)
for x in d:
    print(x)
    #print(d.add(i))
#print(d)

{0, 1, 2}
0
1
2

In [105]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        break

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3

In [106]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

In [107]:
square_list=[x**2 for x in range(1,9)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64]

In [109]:
single_word_list=[]
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [112]:
#single_word_list=[]
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]
single_word_list=[word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [122]:
vowels=['a','e','i','o','u']
words_with_vowels=[]
for sentence in paragraph:
    for word in sentence.split():
        for character in word:
            if character.lower() in vowels:
                #print(character)
                #print(word)
                words_with_vowels.append(word)
                break
print(words_with_alphabets)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [124]:
words_with_first_char_vowel=[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            words_with_first_char_vowel.append(word)
print(words_with_first_char_vowel)

['a', 'It', 'in', 'It']

In [126]:
words_with_first_char_vowel_comp=[word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(words_with_first_char_vowel_comp)

['a', 'It', 'in', 'It']

In [132]:
words_with_alphabets_comp=[word for sentence in paragraph for word in sentence.split() for char 
                           in word if char.lower() in vowels break]
#words_with_alphabets_comp = [word for sentence in paragraph
print(words_with_alphabets_comp)

SyntaxError: invalid syntax (<ipython-input-132-676c3353436b>, line 2)

In [148]:
sqlist=[i**2 for i in range(1,4+1)]
print(sqlist)

[1, 4, 9, 16]

In [150]:
squared_dictionary = {num : num**2 for num in range(0,25)}
print(squared_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [151]:
names_dict = {}
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 
                 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

for rollnum,details in students_data.items():
    if rollnum%2 == 0:
       names_dict[rollnum] =  details[0]
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [153]:
names_dict = {rollnum : details[0] for rollnum,details in students_data.items() if rollnum%2 == 0 }
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [154]:
n = int(input())
dictionary = {i : i**2 for i in range(1,n+1)}
print(dictionary)

9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [155]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [156]:
input_str = 'Kumar_Ravi_003'
print(input_str.split("_")[0])

Kumar

In [161]:
def factorial(n):
    if n > 1:
        return n * factorial(n-1)
    else:
        return n
print(factorial(5))

120

In [164]:
def addition(*args):
    print(args)
    return sum(args)
print(addition(1,2,3,4,5))
print(addition(1,2))

(1, 2, 3, 4, 5)
15
(1, 2)
3

In [178]:
def proper(text):
    text = text.strip()
    return(" ".join([word[0].upper() + word[1:] for word in text.split()]))
print(proper("rana pratap"))

Rana Pratap

In [172]:
strlist = ["rana", "pratap"]
print(" ".join(word[0].upper() + word[1:] for word in strlist))

Rana Pratap

In [179]:
product = lambda x,y : x*y
print(product(2,3))

6

In [181]:
which_is_greater = lambda x,y : x if x > y else y
print(which_is_greater(3,5))

5

In [183]:
greater = lambda x,y : x if x > y else y
print(greater(6,3))

6

In [184]:
first_list = [2,4,5]
print(map(lambda x : x**2, first_list))

<map object at 0x0000027A303F04A8>

In [187]:
print(list(map(lambda x : x**2, first_list)))

[4, 16, 25]

In [212]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]
def vowels(list):
    vowels=['a','e','i','o','u']
    words_vowels=[]
    for sentence in list:
        for word in sentence.split():
            for character in word:
                if character.lower() in vowels:
                    return word
                    break
    print(word)
    #return(words_vowels)

#print(vowels(paragraph))

# Using map
print(list(map(vowels, paragraph)))

['e', 'I', 'I']

In [214]:
first_list = [2,4,5,6,7,8]
def sqr(i):
    return i**2
sqlist = list(map(sqr, first_list))
print(sqlist)

[4, 16, 25, 36, 49, 64]

In [215]:
first_list = [2,4,5,6,7,8]
cube = list(map(lambda i : i*i*i, first_list))
print(cube)

[8, 64, 125, 216, 343, 512]

In [12]:
input_list = ['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
def findwords(list_input):
    count = 0
    for word in list_input:
        #print(word)
        if word[0].lower() == 's':
            count += 1
    return count
count = list(map(findwords,[input_list]))[0]
print(count)
words = list(map(lambda x: x[0].lower() == 's', input_list))
print("words : ", words)
#print(sum(words))

3
words :  [True, True, True, False]

In [7]:
print(sum(map(lambda x: x[0].lower() == 's', input_list)))

3

In [239]:
sums_list = [3,5,9,7]
sums_list2 = [4,5,6,7]
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [252]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla', 'watt', 'einstein']
proper = list(map(lambda x,y : x[0].upper() + x[1:] + " " + y[0].upper() + y[1:], list_of_names, list_of_names2))
print(proper)

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [255]:
first_name = ['Ankur','Avik','Kiran','Nitin']
last_name = ['Narang','Sarkar','R','Sareen']
name = list(map(lambda x,y : x[0].upper() + x[1:] + ' ' + y[0].upper() + y[1:], first_name,last_name))
print(name)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [258]:
divby3 = lambda x: x % 3 == 0
num_list=[3,5,6,9,18,11,23,24]
div = filter(divby3,num_list)
print(list(div))

[3, 6, 9, 18, 24]

In [268]:
from functools import reduce
r = reduce(lambda x,y : x + y, range(1,5))
print(r)

10

In [272]:
num_list = [12,34,23,44,56,27,39,80,13,19]
q = reduce(lambda x,y: x if x>y else y, num_list)
print(q)

80

In [359]:
div_list_5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 
 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

multi_of_5 = lambda x: x % 5 == 0
list_5 = filter(lambda x: x % 5 == 0,div_list_5)
print(list(list_5))

TypeError: 'list' object is not callable

In [291]:
input_list =  ['hdjk', 'salsap', 'sherpa']
print(list(filter(lambda x:  x[0] + x[-1] == 'sp'and x[-1] == 'p', input_list)))

['salsap']

In [290]:
name = lambda x:  x[0] + x[-1] == 'sp'and x[-1] == 'p'
print(name("sap"))

True

In [287]:
r = "saghp"
print(r[0] + r[-1])

sp

In [294]:
import functools as ft
data = ['alfa', 'bravo', 'charlie', 'delta']
print(ft.reduce(lambda x, y: x + ("." if x else "") + y[0], [data], ""))

alfa

In [298]:
from functools import reduce
input_list = ['I','Love','Python']
result_list = reduce(lambda x,y: x + ' ' + y, input_list)
print(result_list)

I Love Python

In [358]:
input_list = [31, 63, 76, 89]
list_r = reduce(lambda x,y: x if x>y else y,input_list)
print(list_r)

89

In [302]:
l = [1,2,3]
print(l*2)

[1, 2, 3, 1, 2, 3]

In [303]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [308]:
S = "I love Python"
print(S[-11:-7])

love

In [1]:
from functools import reduce
n = 5
factorail = reduce(lambda x,y: 1 if x == 0 else x * y, range(1,n+1))
print(factorail)

120

In [361]:
F = [2, 4, 5, 6, 7, 9, 13, 16]
l = [i for i in F]
print(l)

[2, 4, 5, 6, 7, 9, 13, 16]

In [41]:
C = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
F = [2, 4, 5, 6, 7, 9, 13, 16]
H = [1, 2, 5, 9, 10, 11, 12, 13, 15] 
C = set(C)
F = set(F)
H = set(H)

#print(sorted(list(C & F & H)))
#print(sorted(list((C & F) - H)))
#print(sorted(list(((C-F)&H | (C-H)&F))))
#print(sorted(list(C|F|H)-(C^F^H)))

C = set(C)
F = set(F)
H = set(H)
A = set(range(1, 21))
print(sorted(list(C & F & H)))
print(sorted(list(C & F - H)))
print(sorted(list(((C-F)&H | (C-H)&F))))
print(sorted(list(A-(C|F|H))))

# Read the three input lists, i.e. 'C', 'F', and 'H'.
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
C = input_list[0]
F = input_list[1]
H = input_list[2]

# Convert the given lists to sets as it is easier to perform the given operations
# on sets
C = set(input_list[0])
F = set(input_list[1])
H = set(input_list[2])

# Perform an '&' operation between the three sets to find out the students who play
# all the three sports. Finally, convert it into a list, apply the sorted() function
# and print the resultant list.
print(sorted(list(C & F & H)))

# The following opeartion gives the students who play only Cricket and Football.
# Note that only (C & F) also contains the students who play all the three sports
# and hence, we need to subtract (C & F & H) from it.
print(sorted(list((C & F) - (C & F & H))))

# The students who play exactly three sports can be given by the following expression
# (C & F) gives the students who play cricket and football, (F & H) gives the students
# who play football and hockey, and (F & H) gives the students who play cricket and
# hockey. Performing an 'OR' operation ('|') between the three will give the students
# who play a minimum of two sports and finally subracting (C & F & H) will give the 
# list of students who play exactly two sports.
print(sorted(list(((C & F) | (F & H) | (C & H)) - (C & F & H))))

# As the students are numbered from 1 to 20, the whole set of students can be defined
# by creating a set containing all the numbers from 1 to 20, using range. Finally,
# you can subract (C | F | H), from the created set to get all the students who don't
# play even a single sport.
print(sorted(list(set(range(1,21)) - (C | F | H))))

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]

In [15]:
list_1 = [1,2,3,4,5,6]
list_2 = [2,3,4,5,6,7,8,9]

set_1 = set(list_1)
set_2 = set(list_2)
answer_1 = set_1.difference(set_2)
answer_2 = list(answer_1.union(set_2.difference(set_1)))
answer_1 = list(answer_1)

print(answer_1)
print(answer_2)

[1]
[8, 1, 9, 7]

In [6]:
# system of three equations
A = np.array([[1, 5, -1], 
              [2, 3, -2], 
              [-3, 4, 0]])
b = np.array([1,2,0])
A_inv = np.linalg.inv(A)

120

120