In [1]:
print("this is my first code in python")

this is my first code in python

In [2]:
print("Hello\n this is new line")

Hello
 this is new line

In [2]:
a = 6
b = 7
#Addition
print("Addition: ",a+b)
#Substraction
print("Substraction: ",a-b)
#Division
print("Division: ",a/b)
#Multiply
print("Multiply: ",a*b)
#Floor Division
print("Floor Division: ",a//b)
#Remainder
print("Remainder: ",a%b)
#Power
print("Power: ",a**b)

Addition:  13
Substraction:  -1
Division:  0.8571428571428571
Multiply:  42
Floor Division:  0
Remainder:  6
Power:  279936

In [5]:
inc = 9
inc +=1
print(inc)
inc -=1
print(inc)

10
9

In [7]:
#rstrip() remove whitespace from right
some_sentence = "There is a space at the end  "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [9]:
increment = '4%'
print(increment.rstrip('%'))

4

In [11]:
#lstrip remove white space from left
some_sentence = "   There is a space at the start"
print(some_sentence)
print(some_sentence.lstrip())

   There is a space at the start
There is a space at the start

In [12]:
#strip remove white space from both ends
some_sentence = "   There is a space at the start and end  "
print(some_sentence)
print(some_sentence.strip())

   There is a space at the start and end
There is a space at the start and end

Indexing and Slicing

In [13]:
val = "2 apples"

no_of_apples = val[0]
print("No of apple is : ",no_of_apples)

No of apple is :  2

In [17]:
what = val[2:]
print(what)

apples

In [21]:
#slicing by specifying start and end index
print(val[2:5])

app

In [26]:
batch = "5 oranges and 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [28]:
#negative index starts from end
batch = "5 oranges and 3 monkeys"
fruits = batch[-2]
print(fruits)

s

In [11]:
nums = '123456789'
name = 'RANA PRATAP MANDAL'
even_nums = name[2::4]
print(even_nums)

NRPN

In [40]:
A="Data"
B="Analysis"
C="Pandas"
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [45]:
# the last printed expression will be assigned to the variable _
tax = 12.5/100
price = 100.5
price*tax
#print(price*tax)
val = price + _
print(val)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [48]:
#If you donâ€™t want characters prefaced by \ to be 
#interpreted as special characters, you can use raw strings by adding an r before the first quote:
print("C:\some\name")
print(r'C:\some\name') #Here r added before quote

C:\some
ame
C:\some\name

In [63]:
string = "I love python programming"
print(string[-12:-18])

In [64]:
print(len('Python'))

6

In [65]:
initial_list=[]
print(initial_list)

[]

In [80]:
#Python List
DA_languages=["R","Python","SAS","Scala",42]
print(DA_languages)
print(DA_languages[0])
print(DA_languages[1:3])
print(DA_languages[0:2])
print(DA_languages[-1])
print(DA_languages[2:])
print(DA_languages[:-3])

print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]
R
['Python', 'SAS']
['R', 'Python']
42
['SAS', 'Scala', 42]
['R', 'Python']
R
['Python', 'SAS', 'Scala', 42]

In [82]:
print(DA_languages.pop()) #It will remove the last element first
print(DA_languages)

42
['SAS', 'Scala']

In [84]:
print(DA_languages.pop(0)) #Last in first out. pop(n) will remove the data from given n'th index
print(DA_languages)

SAS
['Scala']

In [85]:
DA_languages.append('R') #append will add value in the list
print(DA_languages)

['Scala', 'R']

In [94]:
a_sentance = "Hi Saif, This is to inform you that I'm not well."
print(a_sentance)

Hi Saif, This is to inform you that I'm not well.

In [95]:
words_in_mail = a_sentance.split()
print(words_in_mail)

['Hi', 'Saif,', 'This', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well.']

In [107]:
b_sentance = "Hi Saif, This is to inform you that I'm not well. I wont be coming to office, but I will be available on call. Thanks"
words_in_mail2 = b_sentance.split(".")
print(words_in_mail2)

["Hi Saif, This is to inform you that I'm not well", ' I wont be coming to office, but I will be available on call', ' Thanks']

In [109]:
mail = " ".join(words_in_mail)
print(mail)
mail2 = ".".join(words_in_mail2)
print(mail2)

Hi Saif, This is to inform you that I'm not well.
Hi Saif, This is to inform you that I'm not well. I wont be coming to office, but I will be available on call. Thanks

In [110]:
nums=[7,3,9,4,5,2,1,8,6]
print(len(nums))

9

In [112]:
print(sorted(nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
print(min(nums))

1

In [114]:
print(max(nums))

9

In [119]:
nest=[[1,2,3,4],[5,6,7],[8,9,10]]
print(nest)
print(nest[1])

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
[5, 6, 7]

In [120]:
print(nest[0:2])

[[1, 2, 3, 4], [5, 6, 7]]

In [117]:
print(nest[0][1])

2

In [121]:
print(nest[0][1:3])

[2, 3]

In [129]:
word = ['1','2','3','4']
word[:] = [ ]
print(word)

[]

In [138]:
first_tuple=(1,2,3)
print(first_tuple)
print(first_tuple[2])
convert_list=list(first_tuple)
print(convert_list)
convert_list.append(4)
print(convert_list)
first_tuple = tuple(convert_list)
print(first_tuple)

(1, 2, 3)
3
[1, 2, 3]
[1, 2, 3, 4]
(1, 2, 3, 4)

Dictionary

In [2]:
my_dict = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
print(my_dict['Tim Cook'])
print(my_dict.get('Tim Cook'))
my_dict['Ratan Tata'] = 'TCS'
print(my_dict.get('Ratan Tata'))
print("Keys Are : ",my_dict.keys())
print("Values are : " , my_dict.values())
print("List of keys : ",list(my_dict.keys()))
print("List of values : ",list(my_dict.values()))
del my_dict['Mukesh Ambani']
print(my_dict)
#new_dict = dict(Country ='Jamaica',Songs=['One Love','Misty Morning'])
#print(new_dict)

Apple
Apple
TCS
Keys Are :  dict_keys(['Jack Dorsey', 'Tim Cook', 'Jeff Bezos', 'Mukesh Ambani', 'Ratan Tata'])
Values are :  dict_values(['Twitter', 'Apple', 'Amazon', 'RJIO', 'TCS'])
List of keys :  ['Jack Dorsey', 'Tim Cook', 'Jeff Bezos', 'Mukesh Ambani', 'Ratan Tata']
List of values :  ['Twitter', 'Apple', 'Amazon', 'RJIO', 'TCS']
{'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple', 'Jeff Bezos': 'Amazon', 'Ratan Tata': 'TCS'}

SETS : Unordered collection of unique collection

In [4]:
student_list = ['A','A','B','C','C','E','N'] #this is a list
student_set = set(student_list)
print(student_set)
print(type(student_set))

{'N', 'B', 'E', 'C', 'A'}
<class 'set'>

In [5]:
student_list2 = ['A','N','F','N','G','A'] #this is a list
student_set2 = set(student_list2)
print(student_set2)

{'G', 'A', 'N', 'F'}

In [6]:
print(student_set.intersection(student_set2))

{'A', 'N'}

In [7]:
print(student_set.union(student_set2))

{'G', 'N', 'B', 'F', 'E', 'C', 'A'}

In [8]:
print(student_set.difference(student_set2))

{'E', 'C', 'B'}

In [3]:
A=set(['1','2','3','4','5','6','7','8'])
print(len(A))
B=set(['1','3','5','6','7','8','9'])
print(A)
print(B)
ans_1 = A.difference(B)
#ans_2 = B.difference(A)
print(ans_1.union(B.difference(A)))

8
{'3', '5', '1', '4', '6', '7', '2', '8'}
{'3', '5', '1', '6', '7', '9', '8'}
{'9', '4', '2'}

In [2]:
str_1 = "Kumar_Ravi_003"
list = str_1.split("_")
print(list)

['Kumar', 'Ravi', '003']