In [81]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv('Sample.csv')

In [83]:
df

    Speed  Numerical     Sex
0     low      1.110    Male
1    high      2.100  Female
2  medium      3.450  Female
3    high     32.123    Male
4     low     22.300    Male
5  medium     12.330    Male

In [84]:
df_np = df.values

In [85]:
df_np

array([['low', 1.11, 'Male'],
       ['high', 2.1, 'Female'],
       ['medium', 3.45, 'Female'],
       ['high', 32.123000000000005, 'Male'],
       ['low', 22.3, 'Male'],
       ['medium', 12.33, 'Male']], dtype=object)

In [86]:
df_np[:,0]

array(['low', 'high', 'medium', 'high', 'low', 'medium'], dtype=object)

In [87]:
#pd.get_dummies(df)

#### Using one hot encoder

In [88]:
import sklearn
print(sklearn.__version__)

0.22.1

In [89]:
from sklearn.preprocessing import LabelEncoder

In [90]:
labelencoder = LabelEncoder()
labelencoder = labelencoder.fit(df_np[:,0])
df_np[:,0] = labelencoder.transform(df_np[:,0])

In [91]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [92]:
X=df.iloc[:,0:3].values
X

array([['low', 1.11, 'Male'],
       ['high', 2.1, 'Female'],
       ['medium', 3.45, 'Female'],
       ['high', 32.123000000000005, 'Male'],
       ['low', 22.3, 'Male'],
       ['medium', 12.33, 'Male']], dtype=object)

In [93]:

#ct = ColumnTransformer(transformers=[("oh",OneHotEncoder(),[0,2])],remainder="passthrough")

In [ ]:
ct = ColumnTransformer(transformers=[("oh",OneHotEncoder(),[0,2])],remainder="passthrough")

In [96]:
ct.named_transformers_['oh'].get_feature_names()

array(['x0_high', 'x0_low', 'x0_medium', 'x1_Female', 'x1_Male'],
      dtype=object)

In [94]:
X = ct.fit_transform(X)
X

array([[0.0, 1.0, 0.0, 0.0, 1.0, 1.11],
       [1.0, 0.0, 0.0, 1.0, 0.0, 2.1],
       [0.0, 0.0, 1.0, 1.0, 0.0, 3.45],
       [1.0, 0.0, 0.0, 0.0, 1.0, 32.123000000000005],
       [0.0, 1.0, 0.0, 0.0, 1.0, 22.3],
       [0.0, 0.0, 1.0, 0.0, 1.0, 12.33]], dtype=object)

In [95]:
oh.categories_

NameError: name 'oh' is not defined