In [67]:
import numpy as np
import pandas as pd

In [68]:
df = pd.read_csv('Sample.csv')

In [69]:
df

    Speed  Numerical     Sex
0     low      1.110    Male
1    high      2.100  Female
2  medium      3.450  Female
3    high     32.123    Male
4     low     22.300    Male
5  medium     12.330    Male

In [70]:
df_np = df.values

In [71]:
df_np

array([['low', 1.11, 'Male'],
       ['high', 2.1, 'Female'],
       ['medium', 3.45, 'Female'],
       ['high', 32.123000000000005, 'Male'],
       ['low', 22.3, 'Male'],
       ['medium', 12.33, 'Male']], dtype=object)

In [72]:
df_np[:,0]

array(['low', 'high', 'medium', 'high', 'low', 'medium'], dtype=object)

In [73]:
#pd.get_dummies(df)

#### Using one hot encoder

In [94]:
import sklearn
print(sklearn.__version__)

0.21.3

In [74]:
from sklearn.preprocessing import LabelEncoder

In [75]:
labelencoder = LabelEncoder()
labelencoder = labelencoder.fit(df_np[:,0])
df_np[:,0] = labelencoder.transform(df_np[:,0])

In [76]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [89]:
X=df.iloc[:,0:2].values
ct = ColumnTransformer(transformers=[("oh",OneHotEncoder(),[0])],remainder="passthrough")

In [91]:
X = ct.fit_transform(X)

C:\Users\home\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [88]:
X

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])