In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.DataFrame( np.random.choice(list('abcde'),[10,5]), 
                          columns=list('ABCDE'))

mask = df.select_dtypes(include=['object']).apply(pd.Series.nunique) > 4

df.index[mask]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 10 but corresponding boolean dimension is 5

In [3]:
mask

A     True
B    False
C     True
D     True
E    False
dtype: bool

In [4]:
df.loc[:, mask]

   A  C  D
0  a  e  a
1  e  a  e
2  b  b  e
3  b  d  a
4  e  b  b
5  e  b  d
6  e  c  c
7  d  d  c
8  c  c  d
9  c  c  d