## Multinomial and Bernoulli Naive Bayes

In [7]:
# Adding packages in data set
import numpy as np
import pandas as pd
import sklearn

#training data set 
train_docs = pd.read_csv("example_train.csv")

In [8]:
train_docs

                                            Document      Class
0         Upgrad is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [12]:
#Lets convert these Class values in numeric
train_docs.Class = train_docs.Class.map({'cinema' : 0,'education': 1})

In [13]:
train_docs

                                            Document  Class
0         Upgrad is a great educational institution.      1
1            Educational greatness depends on ethics      1
2  A story of great ethics and educational greatness      1
3                           Sholey is a great cinema      0
4                   good movie depends on good story      0

In [ ]:
# Now we will split the data set in train set and test set